:root {
    --white: white;
    --black: rgb(9 9 11);
    --light-grey: rgb(244 244 245);
    --grey: rgb(161 161 170);
    --blue: rgb(37 99 235);
    --green: rgb(22 163 74);
    --orange: rgb(245 158 11);
    --font-base: 16px;
    --font-bold: 700;
    --font-extrabold: 800;
}

* {
    font-size: var(--font-base);
    color: var(--black);
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-weight: var(--font-bold);
}

.font-extrabold {
    font-weight: var(--font-extrabold);
}

.text-primary {
    color: var(--black);
}

.text-accent {
    color: var(--blue);
}

.text-secondary {
    color: var(--grey);
}

.text-base {
    color: var(--white);
}

.bg-primary {
    background-color: var(--blue);
}

.bg-secondary {
    background-color: var(--light-grey);
}

.bg-base {
    background-color: var(--white);
}
